{% extends "base.html" %}
  
{% block page_header %}
  
{% endblock %}

{% block content %}

{% if basket_tickets %}
  <div>
      <table>
        <thead>
          <tr>
            <th>concert</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Subtotal</th>
          </tr>
        </thead>
        {% for ticket in basket_tickets %}
        <tr>
          <td>
            <p>{{ ticket.city}}</p>
          </td>
          <td>
            <p>{{  ticket.price }}</p>
          </td>
          <td> 
            <form action="" method="POST" action="">
              {% csrf_token %}
              <div>
                <div>
                  <div>
                    <button>-</button>
                  </div>
                  <input type="number" name="quantity" value='{{ ticket.quantity}}' 
                  min='1' max='99' 
                  data-item_id='{{ticket.concert_id}}' 
                  id="id_qty_{{ticket.concert_id}}">
                  <div>
                    <button>+</button>
                  </div>
                </div>
              </div>
            </form>
            
          </td>
          <td>
            <p>{{ ticket.subtotal }} </p>
          </td>
        </tr>    
        {% endfor %}
      </table>
      <h2>Total: {{grand_total}}</h2>
    </div> 
    {% else %}
    <p>Your basket is empty!!</p>
    <a href='{% url "concerts" %}'> View concerts</a> 
    {% endif %}

{% endblock %}
