/* importing fonts  */
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap&family=IM+Fell+DW+Pica+SC&family=IM+Fell+DW+Pica:ital@0;1&family=Pirata+One&display=swap');



/* font-text */

.text-rock {
  font-family: 'Rock Salt', cursive;
  /* color: #fafafafa;
  margin-left: 50px; */
}

.text-pirate {
  font-family: 'Pirata One', cursive;
  font-size: 18pt;
  word-spacing: 15px;
}

/* font-sizes */
.fs-14 {
  font-size: 14pt
}

.fs-16 {
  font-size: 16pt
}

.fs-18 {
  font-size: 18pt
}

.fs-20 {
  font-size: 20pt
}

body {
  color: #fafafa;
  background-color: #000000;
}


/* spacing  */
.text-center {
  text-align: center
}

/* navigation bar  */

#main-header {
  width: 100%;
  display: flex;
  flex-direction: row;
}

#logo {
  width: 35%;
  color: rgb(227, 92, 30);
  text-decoration: none;
  font-size: 20pt;
  text-align: center;
  cursor: pointer;
}

#nav-bar {
  width: 65%;
  display: flex;
  align-items: center
}

#menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  padding-left: 0;
  margin: 0
}

.link-url {
  color: #fafafa;
  text-decoration: none;
}

.link-url:hover {
  color: rgb(227, 92, 30);
}



/* buttons - link  */

.btn-link {
  text-decoration: none;
  background-color: rgb(227, 92, 30);
  color: #fafafa;
  font-size: 20pt;
  padding: 5px 10px;
  border: 1px solid #fafafa;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
}

.btn-link:hover {
  background-color: #fafafa;
  color: rgb(227, 92, 30);
}