{% extends "base.html" %}
{% load static %} 


{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/concert/concerts.css' %}">
{% endblock %}
{% block page_header %}
 <h2 class="text-center">Upcoming concerts!</h2>

{% endblock %}

{% block content %}
  {% for concert in concerts %}
    <div class='concert-container'>
      <p class='concert-main-info'> {{concert.city}} - {{concert.date}} </p>
      <a href='{% url "concert_detail" concert.id %}' class='concert-url'> View details</a>
    </div>
    {% if request.user.is_superuser %}
      <div>
        <small>
          <a href="{% url 'edit_concert' concert.id %}">Edit concert</a>
        </small>
        <small>
          <a class='text-danger' href="{% url 'delete_concert' concert.id %}">Delete concert</a>
        </small>
      </div>
    {% endif %}
    {% endfor %}
{% endblock %}



  
